.hospital-detail {
  background: #fff;
}
.hospital-basic-info {
  height: 210px;
  width: 100%;
  background-color: #dce0e2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.hospital-basic-info-name {
  font-size: 21px;
  font-weight: 700;
}
.hospital-basic-info i {
  margin-right: 10px;
}
.bed-detail-div {
  font-size: 16px;
  font-weight: 700;
}
.div-sub {
  margin-left: 5px;
}
@media (min-width: 640px) {
  .text-align-center{
    text-align: center;
  }
}
