.input-search{
    width: 100%;
    padding-left: 40px;
}
.no-display {
    display:none;
}
.back-button{
    position: absolute;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #555;
}